.info {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.forward {
  font-family: Arial, Helvetica, sans-serif;
  border-style: hidden;
  border-width: medium;
  width: 60%;
  height: 200px;
  margin: auto;
  padding: 6px;
  text-align: center;
}

.left {
  font-family: Arial, Helvetica, sans-serif;
  border-style: hidden;
  border-width: medium;
  position: absolute;
  left: 0px;
  width: 60%;
  height: 200px;
  padding: 6px;
  margin: auto;
}

.right {
  font-family: Arial, Helvetica, sans-serif;
  border-style: hidden;
  border-width: medium;
  position: absolute;
  right: 0px;
  width: 60%;
  height: 200px;
  padding: 6px;
  margin: auto;
}

.backward {
  font-family: Arial, Helvetica, sans-serif;
  border-style: hidden;
  border-width: medium;
  width: 60%;
  height: 200px;
  padding: 6px;
  margin: 90px auto auto;
  text-align: center;
}
